@font-face {
    font-family: "Avara-Bold";
    src:  url("fonts/Avara-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "MonsieurLaDoulaise-Regular";
    src:  url("fonts/MonsieurLaDoulaise-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "BodoniSvtyTwoSCITCTT-Book";
    src:  url("fonts/BodoniSvtyTwoSCITCTT-Book.woff2") format("woff2");
}


body {
    background-color: rgb(0, 0, 0);
    /* font-family: "Avara-Bold", serif; */
}

img {
    max-width: 100%;
    height: auto;
}


a{
    color: rgb(207, 9, 9);
    text-decoration: none;

}


/* -------------GRID CONTAINER------------- */
.grid-container{
    display: grid;
    padding: 15px 0px 15px 0px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "meinname meinname meinname meinname meinname meinname meinname"
    "image-4 image-4 image-4 image-4 image-4 image-4 image-4"
    "image-1 image-1 image-1 image-1 . . ."
    ". . . image-2 image-2 image-2 image-2" 
    "image-3 image-3 image-3 image-3 image-3 image-3 image-3"
    "image-5 image-5 image-5 image-5 . . ." 
    ". . . image-6 image-6 image-6 image-6"
    "image-7 image-7 image-7 image-7 image-7 image-7 image-7"
    "text-3 text-3 text-3 text-3 text-3 text-3 text-3"
    ". bio bio text-5 text-5 . ."
    ". . . text-2 . name .";
}

/* -----------MEIN NAME---------- */
.meinname {
    grid-area: meinname;
    /* margin-bottom: -150px; */
    z-index: 5;
}
.meinname h1 {
    color:rgb(207, 9, 9);
    font-family: "MonsieurLaDoulaise-Regular";
    font-weight: lighter;
    /* line-height: 1; */
    font-size: 250px;
    top: 150px;
    margin: 0;
}

/* ---------PARIS PROJEKT--------- */
/* .name {
    grid-area: name;
    margin: 200px;
} */
.name {
    grid-area: name;
    /* position: relative; */
    /* top: 150px;
    z-index: 1; */
}

.name h1 {
    color:rgb(207, 9, 9);
    /* font-family: "Avara-Bold"; */
    font-family: "MonsieurLaDoulaise-Regular"; 
    font-weight: lighter;
    font-size: 100px;
    line-height: 1;
    margin: 0;
}

/* .name h1:hover {
    color:rgb(255, 0, 0);
    font-weight: lighter;
    font-style: italic;
} */

/* ----------------BIO----------------- */
.bio {
    grid-area: bio;
    /* margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 5; */
    /* margin-top: 120px; */
}

.bio p {
    color: rgb(207, 9, 9);
    font-size: 18px;
    /* font-style: italic; */
    /* font-family: "BodoniSvtyTwoSCITCTT-Book"; */
    /* font-family: "MonsieurLaDoulaise-Regular";  */
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    /* text-align: center; */
}

/* ---------------IMAGES-------------- */
.image-1 {
    grid-area: image-1;
    /* margin-bottom: 200px; */
}
.image-1 img {
    transition: transform 0.3s ease;
}
.image-1 img:hover {
    transform:scale(1.5); 
}

.image-2 {
    grid-area: image-2;
}
/* .image-2 img {
    box-shadow:0 0 0 rgb(255, 255, 255);
    transition: box-shadow 0.3 ease;
}
.image-2 img:hover {
    box-shadow: 0 10px 20px rgb(255, 255, 255);
} */
.image-2 img {
    transition: transform 0.3s ease;
}
.image-2 img:hover {
    transform:scale(1.5); 
}
.image-3 {
    grid-area: image-3;
    margin-top: 100px;
}

.image-4 {
    grid-area: image-4;
    margin-bottom: -100px;
}

.image-5 {
    grid-area: image-5;
}
.image-5 img {
    transition: transform 0.3s ease;
}
.image-5 img:hover {
    transform:scale(1.5); 
}

.image-6 {
    grid-area: image-6;
}
.image-6 img {
    transition: transform 0.3s ease;
}
.image-6 img:hover {
    transform:scale(1.5); 
}
.image-7 {
    grid-area: image-7;
}

/* ---------------TEXT---------------- */
/* .text-1 {
    grid-area: text-1;
    color: rgb(207, 9, 9);
} */

.text-2 {
    grid-area: text-2;
    color: rgb(207, 9, 9);
}

.text-3 {
    grid-area: text-3;
}
/* .text-3 p {
    color: rgb(207, 9, 9);
    font-family: "MonsieurLaDoulaise-Regular";
    font-weight: lighter;
    font-size: 20px;
} */

.text-5 {
    grid-area: text-5;
    color: rgb(207, 9, 9);
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    /* text-align: right; */
    /* margin-top: 200px; */

}
