@font-face {
    font-family: "Avara-Bold";
    src:  url("fonts/Avara-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "MonsieurLaDoulaise-Regular";
    src:  url("fonts/MonsieurLaDoulaise-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "BodoniSvtyTwoSCITCTT-Book";
    src:  url("fonts/BodoniSvtyTwoSCITCTT-Book.woff2") format("woff2");
}
@font-face {
    font-family: "BodoniSvtyTwoSCITCTT-Book";
    src:  url("fonts/BodoniSvtyTwoSCITCTT-Book.woff2") format("woff2");
}

body {
    background-color: rgb(0, 0, 0);
    /* font-family: "Avara-Bold", serif; */
}

img {
    max-width: 100%;
    height: auto;
}

/* -------------GRID CONTAINER------------- */
.grid-container{
    display: grid;
    padding: 15px 0px 15px 0px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . . . . . meinname meinname"
    ". . . . . . bio bio"
    ". name name name . . . ."
    "image-4 image-4 image-4 image-4 image-4 image-4 image-4 image-4"
    "image-1 image-1 image-1 image-1  image-2 image-2 image-2 image-2"
    "text-1 text-1 . . . . . ."
    "image-3 image-3 image-3 image-3 image-3 image-3 image-3 image-3"
    ". . text-5 text-5 . . . ."
    "image-5 image-5 image-5 image-5 image-6 image-6 image-6 image-6"
    "text-2 . . . . . . text-3"
    ". text-4 text-4 text-4 . . . ."
    "image-7 image-7 image-7 image-7 image-7 image-7 image-7 image-7";
}

/* -----------MEIN NAME---------- */
.meinname {
    grid-area: meinname;
}
.meinname h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

/* ---------PARIS PROJEKT--------- */
/* .name {
    grid-area: name;
    margin: 200px;
} */
.name {
    grid-area: name;
    position: relative;
    top: 150px;
    z-index: 1;
}

.name h1 {
    color:rgb(207, 9, 9);
    /* font-family: "Avara-Bold"; */
    font-family: "BodoniSvtyTwoSCITCTT-Book"; 
    font-weight: lighter;
    font-size: 150px;
    line-height: 1;
    margin: 0;
}

/* .name h1:hover {
    color:rgb(255, 0, 0);
    font-weight: lighter;
    font-style: italic;
} */

/* ----------------BIO----------------- */
.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    line-height: 1;
    margin: 0;
}

/* ---------------IMAGES-------------- */
.image-1 {
    grid-area: image-1;
    /* margin-bottom: 200px; */
}
.image-1 img {
    transition: transform 0.3s ease;
}
.image-1 img:hover {
    transform:scale(1.5); 
}

.image-2 {
    grid-area: image-2;
}
/* .image-2 img {
    box-shadow:0 0 0 rgb(255, 255, 255);
    transition: box-shadow 0.3 ease;
}
.image-2 img:hover {
    box-shadow: 0 10px 20px rgb(255, 255, 255);
} */
.image-2 img {
    transition: transform 0.3s ease;
}
.image-2 img:hover {
    transform:scale(1.5); 
}
.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}

.image-5 {
    grid-area: image-5;
}
.image-5 img {
    transition: transform 0.3s ease;
}
.image-5 img:hover {
    transform:scale(1.5); 
}

.image-6 {
    grid-area: image-6;
}
.image-6 img {
    transition: transform 0.3s ease;
}
.image-6 img:hover {
    transform:scale(1.5); 
}
.image-7 {
    grid-area: image-7;
}
/* ---------------TEXT---------------- */
.text-1 {
    grid-area: text-1;
    color: rgb(207, 9, 9);
}

/* .text-2 {
    grid-area: text-2;
    color: rgb(207, 9, 9);
}

.text-3 {
    grid-area: text-3;
    color: rgb(207, 9, 9);
} */

/* Buchbinden */
.text-4 {
    grid-area: text-4;
    color: rgb(255, 106, 0);
}

.text-4 p {
    color: rgb(122, 133, 235);
    /* font-family: "Avara-Bold"; */
    font-family: "BodoniSvtyTwoSCITCTT-Book"; 
    font-weight: lighter;
    font-size: 150px;
    line-height: 1;
    margin: 0;
}
/* .text-5 {
    grid-area: text-5;
    color: rgb(207, 9, 9);
} */
