@font-face {
    font-family: "Avara-Bold";
    src:  url("fonts/Avara-Bold.woff2") format("woff2");
}

/* body {
    background-color: rgb(190, 201, 211);
    font-family: "Avara-Bold", serif;
} */

img {
    max-width: 100%;
    height: auto;
}

.grid-container{
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 5fr 1fr 2fr 1fr 3fr;
    grid-template-areas:
    "name name name . ."
    "bio text-1 image-1 image-1 image-1"
    "image-2 image-2 image-2 text-2 ."
    ". text-3 image-3 image-3 image-3";
}

.name {
    grid-area: name;
}

.name h1 {
    color:brown;
    /* font-family: "Avara-Bold"; */
    font-weight: bold;
    font-size: 6rem;
    margin: 0;
}

/* .name h1:hover {
    color:rgb(255, 0, 0);
    font-weight: lighter;
    font-style: italic;
} */

.bio {
    grid-area: bio;
}

.bio p {
    color:rgb(116, 60, 72);
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    margin: 0;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}
