@font-face {
    font-family: "Avara-Bold";
    src:  url("fonts/Avara-Bold.woff2") format("woff2");
}

body {
    background-color: rgb(0, 0, 0);
    /* font-family: "Avara-Bold", serif; */
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container{
    display: grid;
    padding: 15px 0px 15px 0px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "name name name name"
    ". bio . ."
    "image-4 image-4 image-4 image-4"
    "image-1 image-1 . ."
    "image-1 image-1 image-2 image-2"
    ". . image-2 image-2"
    "image-3 image-3 image-3 image-3"
    ". image-5 image-6 ."
    "text-1 text-2 text-3 .";
}

.name {
    grid-area: name;
    margin: 200px;
}

.name h1 {
    color:rgb(181, 39, 39);
    /* font-family: "Avara-Bold"; */
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 200px;
    line-height: 1;
    margin: 0;
}

/* .name h1:hover {
    color:rgb(255, 0, 0);
    font-weight: lighter;
    font-style: italic;
} */

.bio {
    grid-area: bio;
}

.bio p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    line-height: 1,5;
    margin: 0;
}

.image-1 {
    grid-area: image-1;
    /* margin-bottom: 200px; */
}
/* .image-1 img {
    transition: transform 0.3s ease;
}
.image-1 img:hover {
    transform:scale(1.5); 
} */

.image-2 {
    grid-area: image-2;
}
.image-2 img {
    box-shadow:0 0 0 rgb(255, 255, 255);
    transition: box-shadow 0.3 ease;
}
.image-2 img:hover {
    box-shadow: 0 10px 20px rgb(255, 255, 255);
}

.image-3 {
    grid-area: image-3;
}

.image-4 {
    grid-area: image-4;
}

.image-5 {
    grid-area: image-5;
}

.image-6 {
    grid-area: image-6;
}

.text-1 {
    grid-area: text-1;
    color: brown;
}

.text-2 {
    grid-area: text-2;
    color: brown;
}

.text-3 {
    grid-area: text-3;
    color: brown;
}
